[General]
loglevel = notify
dns-server = system
skip-proxy = 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12
bypass-system = true

[Rule]
# 规则1：192.168.2.0/24 网段走代理
IP-CIDR,192.168.2.0/24,Proxy

# 规则2：其他局域网直连
IP-CIDR,192.168.0.0/16,DIRECT
IP-CIDR,10.0.0.0/8,DIRECT
IP-CIDR,172.16.0.0/12,DIRECT

# 规则3：最终规则
FINAL,DIRECT

[Proxy]
# 使用变量，方便在界面中修改
Proxy = socks5, $SERVER, $PORT, $USER, $PASS

[Proxy Group]
ProxyGroup = select, Proxy, DIRECT
